header {
  background-color: #004d99;
  color: #f2f2f2;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;
  border-color: #3d4d5c;
  font-family: serif;
  text-align: center;
}

header button {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  background-color:#004d99;
  border-style:solid;
  border-color:#d9d9d9;
  border-radius: 5px;
  padding:5px;
  color:#d9d9d9;
}

header button:hover {
  border-color:#f2f2f2;
  color:white;
}

.social {
  margin:25px;
  
}

.donate {
  background-color:red;
  border: none;
  color:white;
  border-radius:10px;
  font-size:25px;


}






.light-section {
  background-color: #f2f2f2;
  color: #666666;
  padding: 40px;
}

.dark-section {
  background-color: #d9d9d9;
  color: #666666;
   padding: 40px;
}



